@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-style: regular;
    font-weight: 400;   
    font-size: 3rem;
    color: #fff;
    text-align: left;
}
.nav-link {
    font-family: "Montserrat", sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
}
.carousel-control-prev, .carousel-control-next, .carousel-indicators, .carousel-inner, .carousel-caption, .carousel-item, .d-block{
    max-height: 25rem;
    max-width: 40rem;
}
