@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-style: regular;
    font-weight: 400;   
    font-size: 2rem;
    color: #fff;
    text-align: left;
}
.nav-link {
    font-family: "Montserrat", sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
}
.carousel-caption d-none d-md-block {
    color: #000;
}
