@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.html, body{
    background-image: url("./img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.html, h1{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 800;   
    color: white;
    font-size: 2.5em;
}

.html, h2{

    font-family: "Montserrat", sans-serif;
    font-weight: 800;   
    color: white;
    font-size: 1.5em;
}

.html, p{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;   
    color: white;
    font-size: 1.2em;
}

.navbar-brand{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}
.navbar-item{
    font-family: "Montserrat", sans-serif;
    font-style: regular;
    font-weight: 400;
}

.btn-success{
    background-color: green;
    border-color: white;
    }

    .btn-success:hover {
        background-color: green;
        border-color: black;
        }

.btn-primary{
    background-color: blueviolet;
    border-color: white;
    }
    
    .btn-primary:hover {
        background-color: blueviolet;
        border-color: black;
    }